DEBUG=false
SECRET_KEY=your-secret-key

ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=America/La_Paz

# PostgreSQL
DB_NAME=secure_lock
DB_USER=admin
DB_PASSWORD=your-db-password
DB_HOST=db
DB_PORT=5432

# Redis / Celery
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# JWT
JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7

# Business Logic
FREE_LOCKS_PER_DAY=3
PREMIUM_PLAN_PRICE=13.99

# Firebase (Desactivado para la demostración con Expo Go)
# FIREBASE_PROJECT_ID=your-firebase-project-id
# FIREBASE_CREDENTIALS_PATH=/app/firebase-service-account.json