DEBUG=True
SECRET_KEY=replace-with-a-strong-secret
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=America/La_Paz

DB_NAME=secure_lock
DB_USER=admin
DB_PASSWORD=secure123
DB_ROOT_PASSWORD=root_secure123
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7

FREE_LOCKS_PER_DAY=3
PREMIUM_PLAN_PRICE=13.00

FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CREDENTIALS_PATH=/app/firebase-service-account.json
