# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# 🧪 Entornos virtuales
.env
.venv/
venv/

# 📦 Dependencias locales (por si acaso)
pip-wheel-metadata/

# 🗄️ Archivos de Django
staticfiles/
media/

# 🔐 Archivos sensibles
.env.*
*.env

# 🧠 Cache de herramientas
.mypy_cache/
.pytest_cache/

# 🧾 Logs
*.log

# 💻 IDEs
.idea/
.vscode/

# 🐳 Docker
*.pid
*.sock

# 🖥️ Sistema operativo
.DS_Store
Thumbs.dbp;  